#quotePageMain {
    display: grid;
    grid-template-rows: 5fr 5fr;
    place-items: center;
    place-content: center;
    overflow: hidden;
    background: linear-gradient(to left top, #7a7a7a 1% /*bottom-right color*/, #303030 /*middle color*/, #1d1d1d /*top-left color*/);
    position: relative;
    height: 100%;
    
    @include respondTo(sm) {
        grid-template-rows: none;
    }
    
    @include respondTo(md) {
        grid-template-columns: 1fr 1fr;
    }
    
    #authorImg {
        border-bottom: #ffa149 solid 2px;    
        object-fit: cover;
        height: 100%;
        width: 100%;
        
        @include respondTo(md) {
            width: 50dvw;
            height: 80dvh;
            border-left: #ffa149 solid 2px;    
            grid-column: 2/2;
            border-bottom: inherit;
        }

        @include respondTo(lg) {
            height: 100%;
            width: 100%;
        }
    }

    #blockquoteMainContainer {
        display: grid;
        gap: 1.5rem 0;
        margin: 1rem;
        
        @include respondTo(sm) {
            margin: 4rem;
        }

        @include respondTo(md) {
            display: inherit;
            grid-column: inherit;
            grid-row: 1/2;
            gap: 2rem 0;
        }

        #blockquoteContainer {
            border-right: solid 4px #ff7b00;
            border-bottom: solid 4px #ff7b00;
            border-radius: 0.5rem;
            padding: 0.75rem;
            background: rgba($color: #000000, $alpha: 0.4);

            .quote {
                font-size: 1rem;
                line-height: 1.5rem;

                @include respondTo(md) {
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }   
        
            .author {
                font-size: 1.25rem;
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                color: #ffa149;

                @include respondTo(md) {
                    font-size: 2.25rem;
                    line-height: 4rem;
                }
        
                .book {
                    font-size: 4rem;
                    font-weight: bold;
                    text-decoration: underline;
                    text-align: end;
                    margin-right: 1rem;

                    @include respondTo(md) {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        
        #btnContainer {
            display: grid;
            place-items: center;

            #newQuoteBtn, #redirectionBtn {
                font-size: 1rem;
                all: unset;
                background-color: #ff7b00;
                border-right: solid #1d1d1d 3px;
                border-bottom: solid #1d1d1d 3px;
                border-radius: 0.5rem;
                color: #1d1d1d;
                font-weight: bolder;
                padding: 0.5rem;
        
                @include respondTo(sm) {
                    font-size: 1.25rem;
                }

                @include respondTo(md) {
                    cursor: pointer;
                    font-size: 1.5rem;
                }
            }

            #redirectionBtn {
                display: flex;

                img {
                    width: 24px;
                }
            }
        }
    }

    #autoGenerationContainer {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        place-items: center;
        gap: 1rem;

        @include respondTo(md) {
            gap: 2rem;
        }
        
        #quoteAutoGenerationBtn {
            all: unset;
            display: flex;
            place-content: center;
            border: solid #ff7b00 2px;
            border-radius: 100%;
    
            @include respondTo(md) {
                cursor: pointer;
            }
    
            #randomIcon {
                display: block;
                width: 32px;
    
                @include respondTo(sm) {
                    width: 48px;
                }
    
                @include respondTo(md) {
                    width: 64px;
                }
            }
        }

        #autoGenerationBtnLabel {
            display: none;
            font-size: 0.75rem;
            border: solid #ff7b00 1px;
            color: #ffa149;
            padding: 0.25rem;
            border-radius: 0.5rem;
            background-color: #303030;

            &:active {
                transform: translateX(2px) translateX(2px);
            }
        }
    }
}