html {
    font-family: $font1;
    overflow-x: hidden;
    
    @include respondTo(md) {
        height: 100dvh;
    }

    &::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#quoteHtml {
    height: inherit;
    
    @include respondTo(md) {
        height: 100dvh;
    }
}

body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    line-height: 1.5rem;
    color: white;
    
    @include respondTo(mobile) {
        height: 100%;
    }
    
    @include respondTo(md) {
        a, button {
            cursor: pointer;
        }
    }
}