html {
    font-family: $font1;
    overflow-x: hidden;
    
    @include respondTo(mobile) {
        height: 100dvh;
    }
}

#quoteHtml {
    height: inherit;
    
    @include respondTo(sm) {
        height: 100dvh;
    }
}

body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    line-height: 1.5rem;
    color: white;
    
    @include respondTo(mobile) {
        height: 100%;
    }
    
    @include respondTo(md) {
        a, button {
            cursor: pointer;
        }
    }
}